alias diff=colordiff
alias ls='ls -GF'
alias la='ls -a'
alias ll='ls -al'
alias tm=tmux
alias j=z

# for ruby
alias be='bundle exec'
alias bu='bundle update'
alias bi='bundle install'
alias cuke='cucumber'
alias vag='vagrant'
alias mm='bundle exec middleman'

### functions
function chpwd() { ls }

alias psa='ps auxw'
function psg() {
  psa | head -n 1
  psa | grep $* | grep -v "ps -auxww" | grep -v grep
}

# cdb
function cdb() {
  cd `ruby -e "require 'rubygems';gem 'bundler';require 'bundler';Bundler.load.specs.each{|s| puts s.full_gem_path if s.name == '${1}'}"`
}
